body{
    background-color: cyan;

    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    flex-direction: column;
}

.h1{
    color: rgb(255, 0, 212);
    font-size: 500px;
}