body{
    background-color: grey;

    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    flex-direction: column;
}

h1{
    color: blue;
    font-size: 87PX;
}

h2{

    color: red;
    font-size:52px;
}