body{
    background-color: pink;

    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    flex-direction: column;
}

.h1{
    color: black;
    font-size: 100px;
}